body {
    background-color: #f7f7f7;
    background-size: 1900px;
}

.login {
    text-align: center;
    margin-top: 5px;
    padding: 10px, 32px;
}

.corpo {
    text-align: center;
    color: white;
    font-family: Courier, monospace;
    font-size: larger;
}

#button {
    background-color: #008CFF;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-style: 1;
    white-space: wrap;
    border-radius: 10px;
}